.survey-clean-card {
  @media (max-width: 576px) {
    padding: 1rem !important;
  }
}

.description-box {
  background-color: #fff9f2;
  border-left: 5px solid #ff8a00;
}

.error-text {
  font-size: 0.75rem;
  color: #dc3545;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

/* 讓 input 變色 */
.custom-input.is-invalid {
  border-color: #dc3545 !important;
  background-color: #fff8f8;
}

.custom-input {
  padding: 10px 16px;
  border: 2px solid #eee;
  border-radius: 10px;

  &:focus {
    border-color: #ff8a00;
    box-shadow: 0 0 0 0.25rem rgba(255, 138, 0, 0.1);
  }
}

.btn-orange-filled {
  border: 1px solid #ff8a00;
  color: #ff8a00;

  &:hover {
    background-color: #ff8a00;
    color: #FFF;
  }
}

.custom-check {

  .form-check-input {
    &:focus {
      box-shadow: none;
      border-color: #eee;
    }

    &:checked {
      background-color: #ff8a00;
      border-color: #ff8a00;
      box-shadow: none;
    }
  }
}