/* You can add global styles to this file, and also import other style files */
@import "flatpickr/dist/flatpickr.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf7f2; // 暖米色大背景
}

.page-content {
  flex: 1; // 把 footer 推到底部
}